@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

#p1{
	text-align: center;
	margin-left:10%;
	margin-right:10%;

}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img{
	width: 30%;
	display: block;
	margin: 0 auto;
}

h1{
	color:rgb(56,74,128);
	font-family: 'Fugaz One', cursive;
	margin-bottom:100px;
	font-size:80px;
}

div{
	position:absolute;
	top:0px;
	left:0px;
	font-family: "Courier", Times, serif;

}

#container
{
  height: 400px;
  position: relative;
  width: 400px;
}
#myCanvas
{
  height: 100%;
  width: 100%;
}
#controls
{
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

